.container {
  height: 52.5vh; 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
  padding-left: 1.25rem;
  overflow-x: auto;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none; 
}



.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.875rem; /* text-sm */
}


/* Responsive for smaller screens */
@media (max-width: 480px) {
  .container {
    height: auto;
    flex-wrap: nowrap;
    padding-left: 0.5rem;
  }}
